nav {
    background-color: #000000 !important;
}

.menuSection{
    margin-top:18px;
    
}

.display-linebreak {
    white-space: pre-line;
    width: -webkit-fill-available;
    text-align: initial;
  }

#panelMenu {
    overflow-y: scroll;
}

#panelMain {
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

#panelContent {
    display: flex;
    width: 90vw;
    height: calc(100vh - 66px);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.buttonTimer {
    height: 5vh;
    width: 5vw;
    border-radius: 18px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    color: #F5F5F5;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    font-size: 3vh;
}

.buttonRanking{
    height: 7vh;
    width: 7vw;
    font-size: 2vh;
    text-decoration: none;
}

.title1{
    font-size: 28px;
    font-weight: bold;
}

.text1{
    font-size: 18px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    background: #000000;
    justify-content: space-between;
}

.answerContainer{
    width: 50vw;
    height: 60vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    background-color: #cbcbcb;
    padding: 1vw;
}

.questionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 52vw;
}

.questionBox{
    height: 5vh;
    width: -webkit-fill-available;
    font-size: 18px;
    margin-right: 3vw;
}