.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#panelTopLeft{
  display: flex;
  width: inherit;
  margin-top: 10px;
}
 

#panelTopLeft img{
  max-height:39px;
  margin-left:15px;
  margin-top:10px;
}	

.home_panelLogo{
  background-size: cover;
    background-position: center;
    max-height:39px;
    width: 156px;
    height: 39px;
    margin-left: 15px;
    margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
